.parent {
	border: 1px solid black;
	margin: 1rem;
	padding: 2rem 2rem;
	text-align: center;
}

.child {
	display: inline-block;
	border: 1px solid red;
	padding: 1rem 1rem;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.container-md {
		max-width: 1600px;
	}
}

@media (min-width: 992px) {
	.container-lg {
		max-width: 1600px;
	}
}

@media (min-width: 1200px) {
	.container-xl {
		max-width: 1600px;
	}
}

/* Responsive figure styles for posts */
.post-figure {
	margin: 1.25rem 0;
	overflow: hidden;
}
.post-figure img {
	width: 100%;
	height: auto;
	display: block;
}
.post-figure .fig-caption {
	font-size: 0.9rem;
	color: #666;
	margin-top: 0.4rem;
}

/* Floated figures for larger screens */
@media (min-width: 768px) {
	.figure-left { float: left; width: 48%; margin-right: 2%; }
	.figure-right { float: right; width: 48%; margin-left: 2%; }
	.post-figure { clear: both; }
}

@media (max-width: 767px) {
	.figure-left, .figure-right { width: 100%; float: none; margin: 0; }
}