.parent {
	border: 1px solid black;
	margin: 1rem;
	padding: 2rem 2rem;
	text-align: center;
}

.child {
	display: inline-block;
	border: 1px solid red;
	padding: 1rem 1rem;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.container-md {
		max-width: 1600px;
	}
}

@media (min-width: 992px) {
	.container-lg {
		max-width: 1600px;
	}
}

@media (min-width: 1200px) {
	.container-xl {
		max-width: 1600px;
	}
}