<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- First -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5121306567715750"
     data-ad-slot="9974881620"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>

</html>


