<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Le styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">  		 
	<link href="/js/google-code-prettify/prettify.css" rel="stylesheet">	
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">  
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34774870-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
      
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
{% include navigation.html %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Get Some .NET</h1>
    <p class="lead">I am a software developer in Ohio. <a href="https://github.com/shawnewallace/shawnewallace.github.com">Fork</a> this on GitHub if you wish. </p>
  </div>
</header>

<div class="container">
	<div class="marketing">
		<div class="content">	  
			<div class="row">			   				
				<div class="span9 columns">								
					{{ content }} 					
				</div>				
				<div class="span3 columns">
					<h2>Hello. I'm Shawn</h2>
					<p>
					  <img src="http://www.gravatar.com/avatar/20fbf00fd51360c3c57a9d260baef430.png" alt="Shawn Wallace" title="Follow me on Twitter @shawnwallace"  class="img-rounded floatLeft" />			
					  I am a Christian, father, husband, Buckeye fan, former US Marine and computer geek.
					</p>					
					<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=shawnewallace&repo=shawnewallace.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=shawnewallace&repo=shawnewallace.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
					<p><a href="https://twitter.com/shawnwallace" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @shawnwallace</a></p>
					<p>
						<ul class="buttons unstyled">
						  <li><a href="http://github.com/shawnewallace" rel="me" class="social github" title="Go to github.com/shawnewallace" target="_blank"></a></li>
						  <li><a href="http://www.linkedin.com/in/shawnwallace" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
						  <li><a href="http://www.twitter.com/shawnewallace" rel="me" class="social twitter" title="Go to twitter.com/shawnewallace" target="_blank"></a></li>
						  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner shawnewallace rss feed" target="_blank"></a></li>
						  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
						  <li><a href="https://github.com/shawnewallace/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Shawn"  target="_blank"></a></li>				
						</ul>
					</p>   
				</div>
			</div>			
		</div>			
	</div>
		{% include footer.html %}
</div><!-- /container -->




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
	<script src="/js/bootstrap.js"></script>    
    <script src="/js/application.js"></script>
	<script type="text/javascript" src="/js/jquery.githubwidget.min.js"></script>
	<script src="/js/custom.js" type="text/javascript"></script>

	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'iminohio'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
